/.vs
/WebServer/bin
/WebServer/obj
/WebServer/logs
/Infrastructure/bin
/Infrastructure/obj
/Model/bin
/Model/obj
/Application/bin
/Application/obj
/IRepository/bin
/IRepository/obj
/Repository/bin
/Repository/obj